<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="SearchServiceName" value="pwo-dev" />
    <add key="SearchServiceApiKey" value="1BD3669EBED0717F80E904B7B7FDAA13" />
  </appSettings>  
</configuration>