<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <connectionStrings>
      <add name="AssetManagement" providerName="System.Data.SqlClient" connectionString="Server=fckpvybjkl.database.windows.net;Database=AssetManagement;User ID=brucewright18;Password=Mallard18;Connection Timeout=30;" />
    </connectionStrings>
    <appSettings>
      <!-- We assume you will use the Azure SDK Storage Emulator by default. If you have an Azure Subscription you can alternatively 
           create a Storage Account and run against the Storage service by using the second connection string below and insert 
           your storage account name and key. -->
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pwodev;AccountKey=XmlUlOvPT5mlpRiaZMDSBOcl3rU/4teYIIwdUYsvnbJ4dmyXh3pHRveo5fg8UQv5rLdxojkIF1hAO+07mhu2VA==;BlobEndpoint=https://pwodev.blob.core.windows.net/;TableEndpoint=https://pwodev.table.core.windows.net/;QueueEndpoint=https://pwodev.queue.core.windows.net/;FileEndpoint=https://pwodev.file.core.windows.net/" />
    </appSettings>
    
  
</configuration>